<html>

<head>
    <title>Tool Test</title>
    <script charset="UTF-8"
            data-main="indices/test"
            type="text/javascript"
            src="bower_components/requirejs/require.js">
    </script>
</head>

<body>

    <div class="panel panel-default">
        <div class="panel-heading">
            The Tool.
        </div>
        <div class="panel-body">
            <iframe seamless height="700px" width="100%" id="child" src="tool.html"></iframe>
        </div>
    </div>

    <em>The response is <code id="response">UNKNOWN</code></em>

</body>

<style>
iframe { border: none; }
.panel-body { padding: none; }
</style>

</html>

